@charset "UTF-8";

/* latin */
@font-face {
    font-family: 'Monoton';
    font-style: normal;
    font-weight: 400;
    src: local('Monoton'), local('Monoton-Regular'), url(../fonts/Monoton.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* latin */
@font-face {
    font-family: 'Offside';
    font-style: normal;
    font-weight: 400;
    src: local('Offside'), local('Offside-Regular'), url(../fonts/Offside.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

::-webkit-scrollbar{
    width: 0; 
    height: 0;
}

*{
    margin: 0;
    padding: 0;
    list-style: none;
}

html,body{
    background-color: #f7f7f7;
    font-family: Offside,cursive;
    /* user-select: none; */
    -webkit-tap-highlight-color: transparent;
    scroll-behavior:smooth;
    font-family: Offside,Monoton,Arial, Helvetica, sans-serif;
}

::selection {
    background-color: cornflowerblue;
    color: white;
}

header{
    width: 100%;
    height: 50px;
    overflow-x: scroll; 
    overflow-y: hidden; 
    background-color: white;
    white-space: nowrap;
    border-bottom: 2px cornflowerblue solid;
}

header span{
    list-style: none;
    width: auto;
    height: 50px;
    font-size: 15px;
    font-weight: 400;
    line-height: 50px;
    text-align: center;
    cursor: pointer;
    padding: 0 20px;
    overflow: hidden;
    display: inline-block;
    transition: all .5s ease;
    -webkit-transition: all .5s ease;
}

header span a{
    color: black;
    text-decoration: none;
}

header span:first-child{
    list-style: none;
    font-size: 25px;
    width: auto;
    padding: 0 20px;
    text-align: center;
    line-height: 50px;
    font-weight: bold;
}

header span:first-child a{
    color: cornflowerblue;
}

header>span:hover>a{
    color: pink;
}

header span:hover .detail{
    height: 300px;
}

.detail{
    position: absolute;
    left: 0;
    top: 52px;
    width: 100%;
    height: 0;
    z-index: 10;
    overflow-y: scroll;
    background-color: lightseagreen;
    transition: all .5s ease;
    -webkit-transition: all .5s ease;
    box-sizing: border-box;
}

.detail ul li{
    position: relative;
    list-style: none;
    text-align: left;
    padding-left: 20px;
}

.detail ul li a{
    color: white;
}

.detail ul li::after{
    content: '';
    position: absolute;
    height: 50px;
    width: 0;
    left: -20px;
    top: 0;
    background-color: black;
    transition: all 1s ease;
    -webkit-transition: all 1s ease;
}

.detail ul li:hover{
    background-color: pink;
}

.detail ul li:hover a{
    color: lightseagreen;
}

.background{
    position: relative;
    width: 100%;
    height: 300px;
    background-color: black;
}

@-webkit-keyframes circle {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  80% {
    -webkit-transform: translateY(-100vh);
    transform: translateY(-100vh);
    opacity: 1;
  }
  100% {
    opacity: 0;
    -webkit-transform: translateY(-100vh);
    transform: translateY(-100vh);
  }
}

@keyframes circle {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  80% {
    -webkit-transform: translateY(-100vh);
    transform: translateY(-100vh);
    opacity: 1;
  }
  100% {
    opacity: 0;
    -webkit-transform: translateY(-100vh);
    transform: translateY(-100vh);
  }
}
@-webkit-keyframes shadow {
  0% {
    -webkit-transform: scaleY(0);
    transform: scaleY(0);
  }
  30% {
    -webkit-transform: scaleY(1);
    transform: scaleY(1);
  }
  100% {
    -webkit-transform: scaleY(0.5);
    transform: scaleY(0.5);
  }
}
@keyframes shadow {
  0% {
    -webkit-transform: scaleY(0);
    transform: scaleY(0);
  }
  30% {
    -webkit-transform: scaleY(1);
    transform: scaleY(1);
  }
  100% {
    -webkit-transform: scaleY(0.5);
    transform: scaleY(0.5);
  }
}

.shape {
    position: absolute;
    width: 66px;
    height: 66px;
    -webkit-animation: circle 4s linear infinite;
    animation: circle 4s linear infinite;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
}

.shape::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    height: 360px;
    -webkit-transform-origin: top center;
    transform-origin: top center;
    -webkit-animation: inherit;
    animation: inherit;
    -webkit-animation-name: shadow;
    animation-name: shadow;
}

.circle {
    bottom: 0;
    left: 30%;
    background: linear-gradient(45deg, #49E7C2 0%, #7AEC90 100%);
    border-radius: 50%;
}
.circle::after {
    background: linear-gradient(-180deg, rgba(73, 231, 194, 0.4) 0%, rgba(28, 28, 28, 0) 100%);
}

.rectangle {
    bottom: 0;
    left: 60%;
    background: linear-gradient(45deg, #EA9F45 0%, #F4EE51 100%);
    -webkit-animation-delay: 2s;
    animation-delay: 2s;
}
.rectangle::after {
    background: linear-gradient(-180deg, rgba(234, 159, 69, 0.3) 0%, rgba(28, 28, 28, 0) 100%);
    top: 100%;
}

.triangle {
    bottom: 0;
    left: 75%;
    background: linear-gradient(45deg, #22A0F9 0%, #71FDC8 100%);
    -webkit-clip-path: polygon(0 0, 100% 100%, 100% 0);
    clip-path: polygon(0 0, 100% 100%, 100% 0);
    -webkit-animation-delay: 1s;
    animation-delay: 1s;
}
.triangle::after {
    background: linear-gradient(-180deg, rgba(34, 223, 249, 0.4) 0%, rgba(28, 28, 28, 0) 100%);
    top: 100%;
    will-change: transform;
}

.square-round-three{
    bottom: 0;
    left: 0;
    background: linear-gradient(45deg, rgb(45, 81, 240) 0%, rgb(122, 213, 236) 100%);
    border-radius: 50% 0 50% 50%;
    -webkit-animation-delay: 1.5s;
    animation-delay: 1.5s;
}

.square-round-three::after{
    background: linear-gradient(-180deg, rgba(118, 135, 231, 0.4) 0%, rgba(171, 190, 241, 0) 100%);
    will-change: transform;
}

.square-round-one {
    bottom: 0;
    left: 15%;
    background: linear-gradient(45deg, rgb(231, 73, 170) 0%, rgb(217, 122, 236) 100%);
    -webkit-border-top-left-radius: 50%;
    border-top-left-radius: 50%;
    -webkit-animation-delay: 2.5s;
    animation-delay: 2.5s;
}

.square-round-one::after{
    background: linear-gradient(-180deg, rgba(231, 73, 178, 0.4) 0%, rgba(228, 94, 240, 0) 100%);
    will-change: transform;
}

.square-round-two {
    bottom: 0;
    left: 45%;
    background: linear-gradient(45deg, rgba(110, 247, 18) 0%, green 100%) ;
    border-top-left-radius: 50%;
    -webkit-animation-delay: 3s;
    animation-delay: 3s;
}

.square-round-two::after{
    top: 100%;
    background: linear-gradient(-180deg, rgba(110, 247, 18, 0.4) 0%, rgba(28, 28, 28, 0) 100%);
    will-change: transform;
}

.heart {
    width: 36px;
    height: 60px;
    background: #ff6666;
    position: absolute;
    bottom: 0;
    left: 90%;
    border-radius: 30px 30px 0 0;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    -webkit-transform-origin: 0 100%;
    transform-origin: 0 100%;
}

.heart::before {
    content: "";
    width: 36px;
    height: 60px;
    background: #ff6666;
    position: absolute;
    top: 0;
    left: 60px;
    border-radius: 0 0 30px 30px;
    -webkit-transform: rotate(-90deg);
    transform: rotate(-90deg);
    -webkit-transform-origin: 0 100%;
    transform-origin: 0 100%;
}

.heart::after{
    width: 60px;
    border-radius: 10px 10px 0 0;
    background: linear-gradient(-180deg, rgba(255, 120, 120, 0.3) 0%, rgba(28, 28, 28, 0) 100%);
    will-change: transform;
}

.contain {
    width: 100%;
    padding: 10px;
}

.border {
    position: relative;
    width: 500px;
    height: 110px;
    border-radius: 3px;
    padding: 20px;
    font-weight: 400;
    font-size: medium;
    background-color: white;
    box-shadow: rgba(0,0,0,.117647) 0 1px 6px, rgba(0,0,0,.117647) 0 1px 4px;
}

.border:hover {
    opacity: .7;
}

.border:hover::before {
    top: -2px;
    left: -2px;
    width: 100%;
    height: 100%;
    clip: rect(0px, 554px, 164px, 0px);
}

.border::before {
    content: '';
    position: absolute;
    border-radius: 3px;
    width: calc(100% + 10px);
    height: calc(100% + 10px);
    top: -7px;
    left: -7px;
    border: 2px cornflowerblue solid;
    transition: all .5s;
    clip: rect(164px, 0px, 164px, 0px);
}

.border::after {
    content: '';
    position: absolute;
    border-radius: 3px;
    width: calc(100% + 10px);
    height: calc(100% + 10px);
    top: -7px;
    left: -7px;
    border: 2px cornflowerblue solid;
    transition: all .5s;
    clip: rect(0px, 554px, 2px, 554px);
}

.border:hover::after {
    top: -2px;
    left: -2px;
    width: 100%;
    height: 100%;
    clip: rect(0px, 554px, 184px, 0px);
}

.border h3{
    padding-bottom: 15px;
}

.border h3 a{
    font-weight: 400;
    font-size: medium;
    color: #4879bd;
    text-decoration: none;
    margin-bottom: 2px;
}

.general_image_pic a{
    background: #fff no-repeat center center;
    text-decoration: none;
    display: block;
    overflow: hidden;
    text-align: left;
    height: 75px;
    width: 120px;
}

.general_image_pic img{
    width: 120px;
    height: 75px;
    border-radius: 2px;
}

.php54-side-toolbar {
    position: fixed;
    right: 8px;
    bottom: 160px;
    width: 44px;
    z-index: 1999;
}

.php54-side-toolbar a {
    display: block;
    height: 44px;
    background-color: white;
    text-decoration: none;
    font-size: 20px;
    color: black;
    border: 1px solid #e0e0e0;
    border-top: none;
    justify-content: center;
    display: flex;
    align-items: center;
}

.php54-side-toolbar a:first-child {
    border-top: 1px solid #e0e0e0;
}

.php54-side-toolbar a:first-child:hover>.qr-box {
    display: flex;
    opacity: 1;
}

.php54-side-toolbar i {
    font-size: 20px;
}

.qr-box {
    display: none;
    position: absolute;
    margin-right: 50px;
    right: 0;
    top: 0;
    padding: 8px;
    border: 1px solid #e0e0e0;
    background-color: #fff;
    -webkit-box-shadow: 0 2px 4px 0 rgba(0,0,0,.1);
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.1);
    opacity: 0;
    transition: all 5s;
}

.qr-box img {
    width: 120px;
    height: auto;
}

.qr-box p {
    font-size: 14px;
    color: #4d4d4d;
    text-align: center;
}

footer {
    width: 100%;
    min-height: 300px;
    padding-top: 30px;
    background-color: #2b2929;
    font-family: Arial;
    font-weight: 400;
}

footer .list {
    width: 30%;
    float: left;
    min-height: 200px;
    padding-left: 40px;
}

footer .list li {
    margin-bottom: 5px;
}

footer .list a {
    color: #b7b7b7;
    font-size: 14px;
    letter-spacing: 1px;
    text-decoration: none;
}

.list-bottom {
    float: left;
    width: 100%;
    height: 20px;
}

.green a {
    color: #00a546!important;
}

@media only screen and (max-width: 500px) {
    .background{
        height: 150px;
    }
}